.container {
  background-color: darkslategrey;
  height: 300px;
  width: 200px;
  border-radius: 5px;
  margin: 20px;
  position: absolute;
}
.display {
  background-color: blanchedalmond;
  height: 50px;
  margin: 10px;
  width: calc(100% - 20px);
}
.buttons {
  border: 1px solid black;
  display: flex;
  flex-wrap: wrap;
}
button {
  flex-basis: 25%;
  padding: 2px;
  border-radius: 5px;
  height: 30px;
}
button:hover {
  background-color: aliceblue;
  cursor: pointer;
}
